*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(120, 49, 250);
    display: flex;
    justify-content: center;
    color: #fff;
    max-width: 1280px;
    font-family: Arial, Helvetica, sans-serif;
}

/*-----------SIDEBAR----------------*/
#sidebar aside{
    background-color: rgb(188, 135, 248);
    width: 240px;
    min-height: 100vh;
    padding: 24px 16px;
}

#sidebar h1{
    margin-bottom: 25px;
}

#sidebar ul{
    list-style: none;
}

#sidebar a{
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 12px;
    border-radius: 8px;
}

#sidebar a:hover{
    background-color: rgb(150, 105, 201);
}

#sidebar a.ativo{
    background-color: rgb(150, 105, 201);
}

/*-----------CONTAINER----------------*/
.container{
    background-color: rgb(150, 105, 201);
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 25px;
}

/*-----------HEADER----------------*/
header{
    background-color: rgb(127, 100, 177);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 25px;
    border-radius: 10px;
}

/*-----------DASHBOARD----------------*/
.dashboard{
    background-color: rgb(127, 100, 177);
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px;
    border-radius: 10px;
}

/*-----------CARD PRINCIPAL----------------*/
.card-principal{
    background-color: rgb(188, 135, 248);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    border-radius: 10px;
}

.card-cidade h2,
#card-cidade h2{
    font-size: 30px;
    margin-bottom: 15px;
}

.clima-info{
    display: flex;
    align-items: center;
    gap: 25px;
}

#temperatura-atual{
    font-size: 65px;
    font-weight: bold;
}

/*-----------BOTÕES E AÇÕES----------------*/
button{
    padding: 10px 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(220, 200, 250);
}

.card-acoes{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card-acoes a{
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
}

.card-acoes a:hover{
    background-color: rgb(150, 105, 201);
}

/*-----------PREVISAO PROXIMOS DIAS----------------*/
.previsao-5dias{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    width: 100%;
    margin-top: 25px;
}

.card-dia{
    background-color: rgb(127, 100, 177);
    padding: 15px;
    border-radius: 10px;
}

/*-----------COMPARAR----------------*/
.comparar-cidades{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px;
}

.comparar-cidades article:first-child{
    display: flex;
    gap: 25px;
    align-items: end;
}

.comparar-cidades article:first-child div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.resultado-comparacao{
    display: flex;
    gap: 25px;
}

.card-comparacao{
    background-color: rgb(188, 135, 248);
    width: 100%;
    padding: 25px;
    border-radius: 10px;
}

#input-cidade-a,
#input-cidade-b{
    padding: 10px;
    border: none;
    border-radius: 8px;
}

/*-----------FAVORITOS----------------*/
.favoritos-container{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    padding: 25px;
}

.card-favorito{
    background-color: rgb(188, 135, 248);
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 25px;
    border-radius: 10px;
}

/*-----------BUSCA----------------*/
.busca-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.barra-busca{
    display: flex;
    gap: 10px;
}

.barra-busca input{
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 8px;
}

.lista-cidades{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 10px;
}

.opcao-cidade{
    padding: 10px;
    text-align: left;
}

/*-----------MAPA----------------*/
section{
    display: flex;
    justify-content: center;
}

iframe{
    width: 90%;
    height: 300px;
    border: none;
    margin-bottom: 25px;
    border-radius: 10px;
}

/*-----------LISTA COMPARAR CIDADADES BUSCA----------------*/
.lista-cidades-a, .lista-cidades-b{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 10px;
}

.lista-cidades-a .opcao-cidade, .lista-cidades-b .opcao-cidade{
    width: 100%;
    text-align: left;
    padding: 8px;
}

.card-comparacao{
    background-color: rgb(188, 135, 248);
    width: 100%;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}