*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(120, 49, 250);
    display: flex;
    justify-content: center;
    color: #ffff;
    max-width: 1280px;
}

/*-----------SIDEBAR----------------*/
#sidebar aside{
    background-color:rgb(188, 135, 248);
    width: 240px;
    min-height: 100vh; /*vh - tamanho da tela*/
    padding: 24px 16px;
}

#sidebar ul{
    list-style: none;
}

#sidebar a {
    color: #ffff;
    display: block;
    text-decoration: none;
    padding: 12px;
}

#sidebar a:hover{
    background-color: rgb(150, 105, 201);
}

#sidebar a.ativo{
    background-color: rgb(150, 105, 201);
}

/*-----------CONTAINER----------------*/
.container{
    background-color: rgb(150, 105, 201);;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 25px;
}

/*-----------HEADER----------------*/
header{
    display: flex;
    justify-content: center;
    gap: 25px;
}

/*-----------DASHBOARD----------------*/
.dashboard{
    background-color: rgb(127, 100, 177);
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/*-----------CARD PRINCIPAL----------------*/
.card-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

#card-cidade h2{
    font-size: 30px;
    margin-bottom: 15px;
}

.clima-info{
    display: flex;
    align-items: center;
    gap: 25px;
}

#temperatura-atual{
    font-size: 65px;
    font-weight: bold;
}

/*-----------ACOES----------------*/
.card-acoes{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card-acoes a{
    color: #ffff;
    text-decoration: none;
}

.card-acoes a:hover{
    background-color:rgb(188, 135, 248);
}

/*-----------CARD RESUMO----------------*/
.card-resumo{
    display: flex;
    justify-content: center;
    gap: 250px;
}

/*-----------MAPA----------------*/
section{
    display: flex;
    justify-content: center;
}

iframe{
    width: 90%;
    height: 300px;
    border: none;
    margin-bottom: 25px;
}

/*-----------PREVISAO PROXIMOS DIAS----------------*/
.previsao-5dias{
    display: flex;
    gap: 20px;
    margin: auto;
}

/*-----------COMPARAR----------------*/
.comparar-cidades{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px;
}

.comparar-cidades article:first-child{
    display: flex;
    gap: 25px;
    align-items: end;
}

.comparar-cidades article:first-child div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.resultado-comparacao{
    display: flex;
    gap: 25px;
}

.card-comparacao{
    background-color: rgb(188, 135, 248);
    width: 100%;
    padding: 25px;
}

/*-----------FAVORITOS----------------*/
.favoritos-container {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    padding: 25px;
}

.card-favorito{
    display: flex;
    flex-direction: column;
}





