<aside>
    <h1>Clima facil</h1>

    <nav>
        <ul>
            <li><a href="../html/index.html">Painel Central</a></li>
            <li><a href="../html/busca.html">Busca Avançada</a></li>
            <li><a href="../html/previsao.html">Previsão de 5 Dias</a></li>
            <li><a href="../html/alertas.html">Alertas Ambientais</a></li>
            <li><a href="../html/comparar.html">Comparar Cidades</a></li>
            <li><a href="../html/favoritos.html">Meus Favoritos</a></li>
            <li><a href="../html/configuracoes.html">Configurações</a></li>
            <li><a href="../html/ajuda.html">Central de Ajuda</a></li>
        </ul>
    </nav>
</aside>